body{
    background: linear-gradient(-45deg, #35577D, #141E30);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#content{
    padding: 40px;
    font-size: 18px;
}

#caption, #author_pic{
    float: left;
    text-align: center;
}

#caption{
    padding-left: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

#writer-img{
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.5);
    height: 50px;
}

#subheading{
    color: rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px;
    padding-bottom: 30px;
}

h1{
    text-align: center;
    font-size: 30px;
}

#author{
    margin-bottom: 60px;
}

#field_pic{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/soccer.jpeg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

#field_pic p{
    background-color: #ffffff;
    opacity: 0.65;
    color: #000000;
    padding: 10px;
    display: block;
    top: 80%;
    width: 60%;
    position: relative;
    margin-left: 30px;
    line-height: 14px;
}
/*  - find out unknown properties
    - make notes about all new properties and elements
    - publish on github pages
/*
.caption {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
    background-color: #ffffff;
    color: #000000;
    opacity: 0.75;
  }
  */
  