body{
    background: linear-gradient(-45deg, #35577D, #141E30);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

main{
    padding: 40px;
    font-size: 18px;
}

#caption, #author_pic{
    float: left;
    text-align: center;
}

#caption{
    padding-left: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

#writer-img{
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.5);
    height: 50px;
}

#subheading{
    color: rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px;
    padding-bottom: 30px;
}

h1{
    text-align: center;
    font-size: 30px;
}

#author{
    margin-bottom: 60px;
}